<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="{{ asset(image_dir ~ configuration.getConfiguration().siteLogo ) }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="flex flex-col min-h-screen">
<div class="main-container flex-grow pt-16">
    <header>
        {% block header %}
            {% include 'includes/navbar_tags.html.twig' %}
        {% endblock %}
    </header>

    {% block body %}

    {% endblock %}
</div>

<footer class="bg-white dark:bg-gray-900">
    {% block footer %}
        {% include 'includes/footer.html.twig' %}
    {% endblock %}
</footer>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>
</html>
